h1, h2, h3 {
    text-align: center;
}

li {
    list-style-type: none;
}

.checked-todos, .unchecked-todos {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 50%;
    min-height: 200px;
}
